#!/usr/bin/env xdg-open
 
[Desktop Entry]
Version=2019b
Type=Application
Terminal=True
Name=MATLAB
Exec=/usr/local/MATLAB/R2019b/bin/matlab -desktop
Icon=/usr/local/MATLAB/R2019b/matlab-logo.png
Comment=MATLAB R2019b Launcher
